* {
	padding: 0;
	margin: 0;
}
.container-card {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	height: 100vh;
}

.container-card article {
	text-align: center;
	border: 1px solid black;
	width: calc(55% - 10vw);
	height: 100%;
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-card article ul {
	display: flex;
	flex-wrap: wrap;
}

.container-card article ul li {
	list-style: none;
}
