* :not(dialog) {
	padding: 0;
	margin: 0;
}
.container-card {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
	gap: 1em;
}

.container > article {
	text-align: center;
	border: 1px solid black;
	height: calc(100vh - 10em);
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article.card > img {
	width: 225px;
}

article.card > ul {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

article.card ul li {
	list-style: none;
}


