.container {
    display: flex;
    flex-wrap: wrap;
}

.container ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1em;
}
.container ul li {
    background: rgb(17, 15, 15);
    list-style: none;
}

.container ul li a{
    text-decoration: none;
    color: wheat;
}

