ul.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
ul.genres li {
    background: rgb(17, 15, 15);
    list-style: none;
}

ul.genres li a{
    text-decoration: none;
    color: wheat;
}

