* :not(dialog) {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: rgb(9, 9, 161);
}

header {
	display: flex;
	color: white;
	justify-content: space-between;
	align-items: center;
	padding: .5em;
	background: rgba(85, 126, 173, 0.774);
	height: 40px;
}

header a {
	text-decoration: none;
	color: white;
}

header nav ul {
	display: flex;
}

header nav ul li {
	list-style-type: none;
}


main .page {
	text-align: right;
}

.main {
	display: flex;

}

main {
	margin: 1em;
	width: 70%;
}

.container-card {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: blue;
	align-items: center;
	gap: .5em;
}

.container > article:is(.detail) {
	width: calc(60vw - 5em);
	max-width: 30em;
}

.container > article {
	text-align: center;
	background: rgba(84, 94, 105, 0.774);
	height: auto;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

dialog {
	padding: 0;
}

article.card > img {
	width: 180px;
	height: 100%;
}

article.card > ul {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

article.card ul li {
	list-style: none;
}

article.detail ul li a {
	text-decoration: none;
}


