
.lists {
    display: grid;
}

.lists > * {
    gap: .5em;
}

.genres {
    min-width: 300px;
    width: 400px;
    position: absolute;
    left: 0;
    top: 2.5em;
    padding: 1em;
}

.list ul.genres li {
    background: none;
}