* {
	box-sizing: border-box;
}

li:not(.active) {
	cursor: pointer;
}

header {
	margin-bottom: 2em;
	grid-template-columns: repeat(3,1fr);
	grid-template-areas: 
		"titleHeader linkHeader search"
	;
}
header::after {
	content: "";
	position: absolute;
	border-bottom: 1px solid;
	left: 0;
	right: 0;
	bottom: 0;
}

ul[id] li {
	display: flex;
	padding: .5em;
	gap: 0.5em;
}

ul[id] li > :last-child {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

ul[id] li:hover {
	background: var(--green);
	border-radius: .1em;
}

ul li:focus {
	background: rgba(var(--blackGrey) .4);
}

.lists {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.5em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	position: relative;
}

button, ul li {
	color: var(--grey);
}

button#ratings {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.lists input {
	outline: none;
}

* > .list.hidden, .pages >.hidden, ul[id] li.hidden {
	display: none;
}

.lists button {
	background: rgb(49, 44, 44, .4);
	padding: 0.5em;
	border: none;
	text-align: left;
	position: relative;
}

.lists > button:hover {
	background: rgb(49, 44, 44, 1);
}

.lists > button:focus-within {
	background: rgb(49, 44, 44, 0);
	border: 1px solid var(--green);
}

.lists > .list {
	background: var(--blackGrey);
	position: absolute;
	z-index: 6;
	padding: 1em;
}

.lists > .list:not(.categories, .years) {
	width: 255px;
}

ul.categories.list {
	grid-template-columns: repeat(4,120px);
	gap: 0;
}

ul.years {
	display: grid;
	grid-template-columns: repeat(3, 100px);
}

.pages {
	display: flex;
	justify-content: center;
	gap: .2em;
	margin-top: 1em;
}

.pages > li {
	border-radius: .2em;
	width: 2.5em;
	height: 2.5em;
	border: 1px solid var(--blackGrey);
}

.pages > li:hover a {
	background: var(--blackGrey);
	color: var(--white);
}

.pages > li a,.pages > li span {
	height: 100%;
}
.pages > li a {
	color: var(--blackGrey);
}

.pages > li.active {
	border: 1px solid var(--green);
	color: var(--white);
}

.pages > li > *{
	display: grid;
	place-content: center;
}
@media (max-width:40em) {
	.lists {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width:60em){
	header {
		margin-bottom: 2em;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2,1fr);
		grid-template-areas: 
			"titleHeader linkHeader"
			"search search"
		;
	}
	.search,#search {
		width: 100%;
	}
}