.lists {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .5em;
    position: relative;
}

.hidden {
    display: none;
}

.lists button {
    background: rgb(49, 44, 44,.6);
    padding: .5em;
    border: none;
    position: relative;
}

.lists >button:hover {
    background: rgb(49, 44, 44,1);
}

.lists > .list {
    background: var(--blackGrey);
    min-width: 300px;
    position: absolute;
    left: 0;
    top: 2.5em;
    padding: 1em;
}
