ul.genres {
    display: grid;
    justify-content: space-around;
    gap: .5em;
    grid-template-columns: repeat(4,minmax(140px,1fr));
    width: calc(90ch - 1em);
}

ul.genres li {
    background: rgb(49, 44, 44);
    list-style: none;
}

ul.genres li a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: wheat;
}

