ul.genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5em;
}

ul.genres li {
    flex-basis: 23%;
    background: rgb(49, 44, 44);
    list-style: none;
}

ul.genres li a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: wheat;
}

