li {
    list-style: none;
}

ul.categories {
    display: grid;
    justify-content: space-around;
    gap: .5em;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
}

ul.categories li {
    background: rgb(49, 44, 44);
}

ul.categories li a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: wheat;
}

