* :not(dialog),
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--white: white;
	--blackGrey: rgb(54, 54, 56);
	--blackLowGrey-4: rgba(44, 44, 44, 0.4);
	--blackLowGrey-6: rgba(44, 44, 44, 0.6);
	--blackLowGrey: rgb(44, 44, 44);
	--blackBrown: rgba(34, 33, 33, 0.773);
	--green: rgb(62, 194, 62);
	--grey: rgb(190, 184, 184);
	--black: black;
	--i: 1;
}

html {
	color-scheme: dark;
}

body {
	font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: var(--white);
	font-size: 1em;
}

ul li {
	list-style: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--white);
}

header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "titleHeader search linkHeader";
	background: var(--blackBrown);
}

header h2 {
	grid-area: titleHeader;
}

h2 span {
	color: var(--blackBrown);
	background-color: var(--green);
}
header nav {
	display: grid;
	align-items: center;
	justify-content: end;
	grid-area: linkHeader;
}

header nav .bars {
	place-self: end;
	display: none;
}

header nav ul {
	display: flex;
	background-color: var(--blackLowGrey-4);
	align-items: center;
}

header .search {
	display: inline-flex;
	place-self: center;
	grid-area: search;
	position: relative;
}

#search {
	padding-inline: 1em;
	height: 24px;
	outline: 0;
}

.searchIcon {
	position: absolute;
	top: 50%;
	right: 0.5em;
	transform: translateY(-50%);
	color: black;
}

nav ul li {
	padding-inline: 0.4em;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	--_translate: 0;
}

nav li a {
	position: relative;
	opacity: 0.7;
}

nav a:hover {
	opacity: 1;
}

nav ul li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	translate: var(--_translate, 0);
	scale: var(--_width, 0) 1;
	transition: scale 0.3s var(--_scale-delay, 0ms),
		transition 0.5s var(--_translate-delay, 0ms);
	background-color: var(--green);
}

nav ul li:hover {
	--_width: 1;
}

nav ul li:hover + li {
	--_translate: -100%;
	--_scale-delay: 0.3s;
	--_translate-delay: 0.2ms;
}

nav ul li :hover {
	--_translate: 100%;
	--_scale-delay: 0.3s;
	--_translate-delay: 0.2s;
}

main {
	padding: 1em;
	margin-bottom: 1em;
}

.page {
	text-align: end;
	margin-bottom: 1em;
}

main .page > button {
	background-color: inherit;
	border: 0;
	color: var(--white);
	cursor: pointer;
	width: 25px;
	height: 25px;
}

.page > button:hover {
	color: var(--green);
}

.page button:disabled {
	opacity: 0.4;
}

.container {
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.container.sub {
	display: flex;
	gap: 1em;
}

.subs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "popularity mostViewed completed";
	gap: 1.8em;
}

.cards {
	display: grid;
	gap: 1.5em;
}

.anime {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(160px, 25ch - 3em), 1fr));
	gap: 1em;
}

.query-anime {
	justify-content: flex-start;
}

.subs .popularity {
	grid-area: popularity;
}

.subs .mostViewed {
	grid-area: mostViewed;
}

.subs .completed {
	grid-area: completed;
}

.subContainer h3 {
	margin-bottom: 1.5em;
}

.top-popularity-anime,
.completed-anime {
	display: grid;
	grid-template-rows: min-content;
	gap: 0.24em;
}

.card.sub .cardSub {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: "img title title title title";
	gap: 0.5em;
	width: 100%;
	background-color: var(--blackLowGrey-4);
}

.most-viewed-anime {
	counter-reset: card;
}

.card.sub .cardSub.most {
	grid-template-areas: "title title title title img";
	counter-increment: card;
	padding: 0.4em;
}

.card.sub .cardSub.big {
	grid-template-rows: 1fr 200px 1fr;
	grid-template-areas:
		"titleCol titleCol titleCol titleCol titleCol"
		"number img img img img"
		"title title title title title";
	gap: 0;
	padding: 0;
}

.card .cardSub.big h2 {
	display: grid;
	place-items: end;
	justify-content: start;
	grid-area: number;
	font-size: 2.5em;
	text-decoration: underline;
	padding: 0.5em;
	color: black;
	background: white;
}

.card .cardSub.big h3 {
	grid-area: titleCol;
}

.card .cardSub.big img.image {
	height: 200px;
	padding: 0;
}

.card.sub.mosts:nth-child(even) .cardSub {
	background-color: var(--blackLowGrey-6);
}

.card.sub:hover .cardSub {
	background-color: var(--blackLowGrey);
}

.card .cardSub .title {
	grid-area: title;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card {
	cursor: pointer;
}

.card-detail {
	border: 1px solid var(--white);
	position: absolute;
	width: calc(40ch - 3em);
	z-index: 1;
}

.card-detail > *  {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1em;
	background-color: var(--blackGrey);
	gap: 1em;
}

.card-detail > * > ul {
	display: flex;
}

.card .title h4 {
	-webkit-line-clamp: 1;
}

.cardHome .title h4 {
	-webkit-line-clamp: 2;
}

.cardHome .title,
.title h4,
.animeDetail .synopsis {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.animeDetail .synopsis {
	-webkit-line-clamp: 3;
}

* .hidden {
	display: none;
}

.cardHome {
	text-align: center;
}

.cardHome .title,
.cardSub .title p {
	-webkit-line-clamp: 1;
	color: var(--grey);
	transition: all 0.2s;
}

.card:hover .title {
	color: var(--white);
}

.card .most::before {
	content: "0" counter(card);
	position: absolute;
	background-color: var(--green);
	padding: 0.25em 0.5em;
	margin-top: -0.5em;
}

.card .most.big::before {
	content: "";
	padding: 0;
}

.card .img {
	overflow: hidden;
	position: relative;
}

.card img {
	position: relative;
	transition: all 0.3s ease-out;
	width: 100%;
	height: 200px;
}

.card .img::before {
	transition: all 0.3s;
	opacity: 0;
	content: "\25B7";
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	font-size: 4em;
	z-index: 2;
}

.card .img::after, .animeDetail::after {
	content: "TV";
    position: absolute;
	top: 0;
    left: 0;
    background: var(--green);
    padding: 0.2em;
    font-size: .8em;
    z-index: 1;
}

.animeDetail::after {
	left: 1em;
	padding: .4em;
}

.card:hover .img::before {
	opacity: 1;
	transform: translate(-50%, -50%);
}

.card:not(:hover) .img::before {
	scale: 3;
	transform: translate(-15%, -20%);
	color: var(--green);
}

.card.sub img {
	grid-area: img;
	height: 85px;
}

.card.sub :not(.big) img {
	width: 70px;
}

.card .most:not(.big) img.image {
	scale: 0.7;
}

.card:hover .cardHome img {
	scale: 1.1;
}

footer {
	display: grid;
	grid-auto-columns: 1fr;
	place-items: center;
	grid-template-areas:
		"backToTop backToTop"
		"footerList footerList"
		"copyright_left copyright_right";
	gap: 2em;
	padding: 1em;
}

.backToTop {
	grid-area: backToTop;
	display: flex;
	position: relative;
	justify-content: center;
	width: 100%;
}

.backToTop::before {
	content: "";
	border: 1px solid;
	position: absolute;
	left: 0;
	bottom: -1.5em;
	right: 0;
}

.footerList {
	grid-area: footerList;
	display: flex;
	gap: 1em;
}

.copyright_right {
	place-self: end;
	place-items: end;
	grid-area: copyright_right;
}

.copyright_left {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	place-self: start;
	grid-area: copyright_left;
}

@media (max-width: 60em) {
	.subs {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"popularity mostViewed"
			"completed completed";
	}

	footer {
		grid-template-columns: 1fr;
		grid-template-areas:
			"backToTop"
			"footerList"
			"copyright_left"
			"copyright_right";
	}

	.copyright {
		text-align: center;
		place-self: center;
	}
}
@media (max-width: 40em) {
	header {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"titleHeader linkHeader"
			"search search";
	}
	.subs {
		grid-template-rows: 1fr auto 1fr;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"popularity popularity"
			"mostViewed mostViewed"
			"completed completed";
	}

	.subs .completed {
		height: calc(50ch / 2);
	}
	header nav .bars {
		display: block;
	}
	.search {
		width: 100%;
	}

	header nav ul {
		flex-direction: column;
	}

	#search {
		width: 100%;
	}
}
