* :not(dialog),
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--white: white;
	--blackGrey: rgb(54, 54, 56);
	--blackBrown: rgba(34, 33, 33, 0.773);
	--green: rgb(62, 194, 62);
	--black: black;
}

body {
	background: var(--black);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: var(--white);
}

ul li {
	list-style: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--white);
}

header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "titleHeader search linkHeader";
	background: var(--blackBrown);
}

header h2 {
	grid-area: titleHeader;
}

h2 span {
	color: var(--blackBrown);
	background-color: var(--green);
}
header nav {
	display: grid;
	grid-area: linkHeader;
}

header nav .bars {
	display: none;
}

header nav ul {
	display: flex;
	justify-content: flex-end;
}

header .search {
	place-self: center;
	grid-area: search;
	position: relative;
}

#search {
	padding-inline: 1em;
	height: 24px;
	outline: 0;
}

.searchIcon {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	color: black;
}

nav ul li {
	padding-inline: 0.4em;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	--_translate: 0;
}

nav li a {
	position: relative;
	opacity: 0.7;
}

nav a:hover {
	opacity: 1;
}

nav ul li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	translate: var(--_translate, 0);
	scale: var(--_width, 0) 1;
	transition: scale 0.3s var(--_scale-delay, 0ms),
		transition 0.5s var(--_translate-delay, 0ms);
	background-color: var(--green);
}

nav ul li:hover {
	--_width: 1;
}

nav ul li:hover + li {
	--_translate: -100%;
	--_scale-delay: 0.3s;
	--_translate-delay: 0.2ms;
}

nav ul li :hover {
	--_translate: 100%;
	--_scale-delay: 0.3s;
	--_translate-delay: 0.2s;
}

main {
	padding: 1em;
	margin-bottom: 1em;
}

.page {
	text-align: end;
	margin-bottom: 1em;
}

main .page > button {
	background-color: inherit;
	border: 0;
	color: var(--white);
	cursor: pointer;
	width: 25px;
	height: 25px;
}

.page > button:hover {
	color: var(--green);
}

.page button:disabled {
	opacity: 0.4;
}

.container {
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.container.sub {
	display: flex;
	gap: 1em;
}

.subs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "popularity mostViewed completed";
	gap: 1.8em;
}

.cards {
	display: grid;
	gap: 1.5em;
}

.now-anime {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1em;
}

.most-viewed-anime {
	gap: 0;
}

.query-anime {
	justify-content: flex-start;
}

.subs .popularity {
	grid-area: popularity;
}

.subs .mostViewed {
	grid-area: mostViewed;
}

.subs .completed {
	grid-area: completed;
}

.subContainer h3 {
	margin-bottom: 1.5em;
}

.top-popularity-anime,
.completed-anime {
	display: grid;
	grid-template-rows: repeat(auto-fit, 90px);
	gap: 0.24em;
}

.card.sub {
	width: 100%;
}

.card.sub .cardSub {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: "img title title title title";
	gap: 0.5em;
	width: 100%;
	background-color: rgba(44, 44, 44, 0.4);
}

.card.sub .cardSub.most {
	grid-template-areas: "title title title title img";
	padding: 0.4em;
}

.card.sub .cardSub.big {
	grid-template-rows: 1fr 185px 1fr;
	grid-template-areas:
		"titleCol titleCol titleCol titleCol titleCol"
		"number img img img img"
		"title title title title title";
	gap: 0;
	padding: 0;
}

.card .cardSub.big h2 {
	display: grid;
	place-items: end;
	justify-content: start;
	grid-area: number;
	font-size: 2.5em;
	text-decoration: underline;
	padding: 0.5em;
	color: black;
	background: white;
}

.card .cardSub.big h3 {
	grid-area: titleCol;
}

.card .cardSub.big img.image {
	height: 185px;
	padding: 0;
}

.card.sub.mosts:nth-child(2n) .cardSub {
	background-color: rgba(44, 44, 44, 0.6);
}

.card.sub:hover .cardSub,
.card.sub.mosts:nth-child(2n):hover .cardSub {
	background-color: rgba(44, 44, 44, 1);
}

.card .cardSub .title {
	grid-area: title;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card {
	position: relative;
	transition: all 0.3s;
	cursor: pointer;
}

.card-detail {
	border: 1px solid var(--white);
	position: absolute;
	width: min(300px, calc(50vw - 2em));
	z-index: 1;
}

.card-detail > article.detail {
	padding: 1em;
	background-color: rgb(54, 54, 56);
}

.card-detail > article.card > section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.title h4 {
	overflow: hidden;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
}
.animeDetail .synopsis,
.cardHome .title,
.cardSub .title h4 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

* .hidden {
	display: none;
}

.cardHome {
	text-align: center;
}

.cardHome .title,
.cardSub .title p {
	-webkit-line-clamp: 2;
	color: rgb(190, 184, 184);
	transition: all 0.2s;
}

.card:hover .title {
	color: var(--white);
}

.card .img {
	position: relative;
	overflow: hidden;
}

.card.sub .img {
	grid-area: img;
	height: 90px;
}

.card.sub img {
	height: fit-content;
}

.card.sub .big .img {
	height: fit-content;
}

.card img {
	transition: all 0.3s ease-out;
	width: 100%;
}

.card .most img.image {
	padding: 0.5em;
}

.card:hover .cardHome img {
	opacity: 1;
	transform: scale(1.1);
}

.card .typeSub {
	position: absolute;
	background-color: var(--green);
	top: 0;
	padding: 0.25em 0.5em;
}

.card .eps {
	bottom: 0;
	right: 0;
}

.info ul {
	display: flex;
}

footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	grid-template-areas:
		"backToTop backToTop"
		"footerList footerList"
		"copyright_left copyright_right";
	padding: 1em;
}

.backToTop {
	grid-area: backToTop;
}

.footerList {
	grid-area: footerList;
	display: flex;
	gap: 1em;
}

.copyright_right {
	place-self: end;
	place-items: end;
	grid-area: copyright_right;
}

.copyright_left {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	place-self: start;
	grid-area: copyright_left;
}

@media (max-width: 60em) {
	.now-anime {
		grid-template-columns: repeat(5, 1fr);
	}
	header {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"titleHeader linkHeader"
			"search search";
	}
	.subs {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"popularity mostViewed"
			"completed completed";
	}

	
	footer {
		grid-template-columns: 1fr;
		grid-template-areas:
			"backToTop"
			"footerList"
			"copyright_left"
			"copyright_right";
	}

	.copyright {
		text-align: center;
		place-self: center;
	}
}
@media (max-width: 40em) {
	.now-anime {
		grid-template-columns: repeat(3, 1fr);
	}

	.subs {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		"popularity popularity"
			"mostViewed mostViewed"
			"completed completed";
		}
	}
	.search {
		width: 100%;
	}
	
	#search {
		width: 100%;
	}
