
* :not(dialog),
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--white: white;
	--blackGrey: rgb(54, 54, 56);
	--blackBrown: rgba(34, 33, 33, 0.773);
	--green: rgb(62, 194, 62);
	--black: black;
}

body {
	background: var(--black);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--white);
}

ul li {
	list-style: none;
}

ul li a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	background: var(--blackBrown);
	height: 40px;
}

header h2 span {
	color: var(--blackBrown);
	background-color: var(--green);
}

header nav ul {
	display: flex;
}

header .search {
	position: relative;
	display: inline-block;
}

#search {
	padding-inline: 1em;
	height: 24px;
	outline: 0;
	border: 0;
}

.searchIcon {
	position: absolute;
  top: 50%;
  right: 5px; 
  transform: translateY(-50%);
  color: black;
}

header .search img {
	position: absolute;
	right: 0;
}

nav ul li {
	padding-inline: 0.4em;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	--_translate: 0;
}

nav li a {
	position: relative;
	opacity: 0.7;
}

nav a:hover {
	opacity: 1;
}

nav ul li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	translate: var(--_translate, 0);
	scale: var(--_width, 0) 1;
	transition: scale 0.3s var(--_scale-delay, 0ms),
		transition 0.5s var(--_translate-delay, 0ms);
	background-color: var(--green);
}

nav ul li:hover {
	--_width: 1;
}

nav ul li:hover + li {
	--_translate: -100%;
	--_scale-delay: 0.3s;
	--_translate-delay: 0.2ms;
}

nav ul li :hover {
	--_translate: 100%;
	--_scale-delay: 0.3s;
	--_translate-delay: 0.2s;
}

header a {
	color: var(--white);
	text-decoration: none;
}
main {
	margin: auto;
}

.page {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 1em;
}

main .page > button {
	background-color: inherit;
	border: 0;
	color: var(--white);
	cursor: pointer;
	width: 25px;
	height: 25px;
}

.page > button:hover {
	color: var(--green);
}

.page button:disabled {
	opacity: 0.4;
}

.cards {
	display: flex;
	flex-direction: column;
}

.cards h2 {
	border-radius: 0.2em;
}

.container { 
	padding: 1em;
}

.container.sub {
	display: flex;
	gap: 1em;
}

.subContainer {
	width: 33.3%;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: .6em;
	margin-bottom: 1em;
}

/* .cards-container > * {
	flex: 1 1 200px;
} */
/* @container (min-width:200px){
	.cards-container {
	
	}
} */

.cards-container.query-anime {
	justify-content: flex-start;
}

.cards-container.top-popularity-anime {
	flex-direction: column;
	align-items: flex-start;
	gap: .2em;
}

.cards-container.top-popularity-anime .card {
	width: 100%;
	background-color: rgb(44, 44, 44,.6);
}

.top-popularity-anime .card:hover {
	background-color: rgb(44, 44, 44,1);
}

.top-popularity-anime .card .title {
	padding: 1em;
}

.cards-container .card {
	position: relative;
	width: 175px;
	transition: all .3s;
	cursor: pointer;
}

.card-detail {
	border: 1px solid var(--white);
	position: absolute;
	width: min(300px, calc(50vw - 2em));
	z-index: 1;
}

.card-detail > article.detail {
	padding: 1em;
	background-color: rgb(54, 54, 56);
}

.card-detail > article.card > section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.title h4 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.animeDetail .synopsis,.cardHome .title {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	white-space: pre-wrap;
}

* .hidden {
	display: none;
}

dialog {
	padding: 0;
}

.cardHome {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 175px;
}

.cardHome.popular {
	width:100%;
	flex-direction: row;
}

.cardHome .title {
	-webkit-line-clamp: 2;
	color: rgb(190, 184, 184);
	transition: all .2s;
}

.cardHome:hover .title {
	color: var(--white);
}

.card .img {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	transition: all .5s;
}

.card .play {
	display: flex;
	position: absolute;
	z-index: 1;
	scale: 0 1.3;
	inset:0;
	align-items: center;
	transition: all .5s ease-out;
	justify-content: center;
}

.card .img:hover .play {
	scale: 1.3 2;
	color: var(--green);
}


.card img {
	transition: all ease-out 0.3s;
	max-width: 100%;
	height: auto;
}

.card img.image {
	height: 90px;
	width: 70px;
}

.card:hover img {
	opacity: 1;
	transform: scale(1.1);
}

.card .type {
	position: absolute;
	background-color: var(--green);
}

.card .typeSrc {
	top: 0;
}

.card .eps {
	bottom: 0;
	right: 0;
}

.info ul {
	display: flex;
}
