.sliders {
    position: relative;
    overflow: hidden;
    margin-inline: auto;
    height: 14rem;
}

.sliders > .slider  {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10,minmax(calc(100vw - 1em),1fr));
    transition: all .3s;
}

.slider a {
    cursor: pointer;
    position: relative;
    width: 100%;
    background-size: cover;
    opacity: .3;
    background-position: center 30%;
    filter: grayscale(1);
    transition: all .2s;
}

.slider:hover a {
    filter: grayscale(0);
}
